<div>
	<div ng-repeat="item in $ctrl.items|filter:{itemType:'wall'}"} style="height:30em;">
		<div class="container-fluid h-100" >
			<div class="row h-100">
				<div class="col-sm-6 h-100 ">
					<div class="row prodImage h-100"></div>
				</div>
				<div class="col-sm-6 h-100">
					<div class="row h-100 ">
						<div class="col-sm-12 prodDesc h-50 paddingZero">
							<div class="titleDiv">{{item.itemName}}</div>
							<div class="descDiv">{{item.itemDesc}}</div>
						</div>
						<div class="col-sm-12 addToCart h-50 paddingZero">
							<div class="row h-100 marginAuto">
								<div class="col-sm-6 h-100 paddingZero">
									<div class="addDiv">
										<input class="addAmount" type="number"/>
									</div>
								</div>
								<div class="col-sm-6 h-100 paddingZero">
									<div class="row marginAuto h-100">
										<div class="col-sm-12"></div>
										<div class="col-sm-4"></div>
										<div class="col-sm-4">
											<input class="addToCartButton btn btn-success" ng-click="addItem(item,1)" type="button"value="Add to Cart"/>
										</div>
										<div class="col-sm-4"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>